body {
  background-color: #ffddee;
  margin: 40px;
  font: 13px/20px normal Helvetica, Arial, sans-serif;
  color: #4F5155;
}
a:link,a:visited,a:active
{
width: 200px;
margin: 2px;
background-color: #a31b5f;
color: #fff;
padding: 10px 25px;
text-align: center;
display: inline-block;

}

a{
text-align: center;
}

a:hover
{
width: 200px;
margin: 2px;
background-color: #d17ba6;
color: #fff;
padding: 10px 25px;
text-align: center;
display: inline-block;

}

img
{
width: 400px;
height: 200px;
display: block;
margin-left: auto;
margin-right: auto;
}


p{
text-align: center;
}


.isi{
text-align: center;
}

.menu {
  text-align: center;
}

h1 {
  text-align: center;
}
